@model IEnumerable<SV20T1020020.DomainModels.Customer>
@{
    ViewBag.Title = "Quản lý Khách hàng";
}

<div class="box box-primary">
    <div class="box-body">
        <form id="formSearch" action="~/Customer">
            <!-- Form nhập đầu vào tìm kiếm -->
            <div class="input-group">
                <input name="searchValue" type="text" class="form-control"
                       placeholder="Nhập tên khách hàng cần tìm">
                <div class="input-group-btn">
                    <button class="btn btn-info" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>

                    <a href="~/Customer/Create" class="btn btn-primary" style="margin-left: 5px">
                        <i class="fa fa-plus"></i> Bổ sung
                    </a>
                </div>
            </div>
        </form>

        <!-- Hiển thị kết quả tìm kiếm -->
        <div>
            <p style="margin: 10px 0 10px 0">
                Có <strong>@ViewBag.RowCount</strong> khách hàng trong tổng số <strong>@ViewBag.PageCount</strong> trang
            </p>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead class="bg-primary">
                        <tr>
                            <th>Tên khách hàng</th>
                            <th>Tên giao dịch</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Địa chỉ</th>
                            <th>Tỉnh/Thành</th>
                            <th>Bị khóa?</th>
                            <th style="width:80px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td>@item.CustomerName</td>
                                <td>@item.ContactName</td>
                                <td>@item.Phone</td>
                                <td>@item.Email</td>
                                <td>@item.Address</td>
                                <td>@item.Province</td>
                                <td></td>
                                <td class="text-center">
                                    <a href="~/Customer/Edit/@item.CustomerId" class="btn btn-info btn-xs">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="~/Customer/Delete/@item.CustomerId" class="btn btn-danger btn-xs">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <ul class="pagination">
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
