@{
    ViewBag.Title = "Cập nhật thông tin tài khoản";
}

<div class="box box-primary">
    <div class="box-body">
        @{
            var userData = User.GetUserData();
            <form action="~/Account/ChangePassword" method="post">
                <input type="hidden" name="UserName" value="@userData.Email" />
                <div class="form-group">
                    <label>Mật khẩu cũ</label>
                    <input class="form-control" type="password" name="OldPassword" value="@ViewBag.Oldpassword" />
                    @Html.ValidationMessage("OldPassword", new { @style = "color: #f00" })
                </div>
                <div class="form-group">
                    <label>Mật khẩu mới</label>
                    <input class="form-control" type="password" name="NewPassword" value="@ViewBag.NewPassword" />
                    @Html.ValidationMessage("NewPassword", new { @style = "color: #f00" })
                </div>
                <div class="form-group">
                    <label>Nhập lại mật khẩu:</label>
                    <input class="form-control" type="password" name="ConfirmPassword" />
                    @Html.ValidationMessage("ConfirmPassword", new { @style = "color: #f00" })
                </div>
                @if (ViewBag.ChangePasswordSuccess != null && ViewBag.ChangePasswordSuccess)
                {
                    <div class="alert alert-info" style="background: #3c8dbc !important;">
                        <strong>Đổi mật khẩu thành công!</strong>
                    </div>
                }
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary" id="saveButton">
                        <i class="fa fa-floppy-o"></i>
                        Lưu dữ liệu
                    </button>
                    <a href="~/Home" class="btn btn-default">
                        <i class="fa fa-arrow-left"></i>
                        Quay lại
                    </a>
                </div>
            </form>
        }
    </div>
</div>
